.two-line-clamp{
    font-size: 16px;
    font-weight: 500;
    font-family: "Barlow";
    color: #ffffff;
    line-height: 1.3rem;
    max-height: 4.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}