.create-playlist {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.create-playlist input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.create-playlist button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
