* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira";
}
@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Light.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Italic.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Thin.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-ThinItalic.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-ExtraBold.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-ExtraLight.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../src/assets/fonts/Saira-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/Saira-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
